.item-detail-card{
    display:flex;
    border: 1px solid #000;
    margin:2em;
}
.item-detail-card img{
    width: 15vw;
    margin: 1em;
    height: 32vh;

}
.quantity-option{
   height: 2.1em;
   width: 5em;
   margin: 1em 0 0 1em;
}
.card-title{
    font-size: 1.5em;
}
.card-range{
    margin: 0 1em;
}
.btn-remove{
    padding:1em;
    background-color:rgb(104, 104, 104);
    color: white;
    width: 50%;
    text-align: center;
    border-radius: .1em;
   
}
.btn-holder{
    display:flex;
    width:100%;
    margin:0 0 1em 15em;

}
*{
    box-sizing: border-box;
}

@media(max-width:780px){
    .item-detail-card{
        flex-direction: column;
        margin:0;
        width: 80%;
    }
    .item-detail-card img{
        width: 80%;
        margin: 1em;
        height: 32vh;
    
    }
    .btn-holder{
        width: 80%;
        margin:1em auto;

    }
    .btn-remove{
        width: 100%;
    }
    .card-title{
        text-align: center;
    }
    .slider{
        width:80%;
        margin:1em auto;
    }
}